<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900"> 
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap-grid.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap-reboot.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/util.css">
    {{!-- <link rel="stylesheet" href="/stylesheets/panel.css"> --}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
